@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Comfortaa&display=swap";
/**768 320**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1C0028;
  color: white;
}

.logo-nombre {
  padding: 0.625rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.inicio-de-sesión {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  text-align: center;
  font-family: Comfortaa;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
}
.inicio-de-sesión h1 {
  font-size: 2.625rem;
}
.inicio-de-sesión input {
  width: 15.5625rem;
  margin: 0.3125rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.955rem;
  border: 0px;
}
.inicio-de-sesión p {
  font-size: 1.0625rem;
  margin-top: 5px;
}
.inicio-de-sesión a {
  font-size: 1.6875rem;
  color: white;
  margin-top: 0.3125rem;
}

.barra-de-tareas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.barra-de-tareas ul li {
  padding-bottom: 2.4rem;
  transition: transform 0.5s; 
}
.barra-de-tareas ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}
.barra-de-tareas ul li:hover {
    transform: translateX(.1875rem);
}
.grid-index {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-index > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-index > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-index > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-index > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.1rem;
  gap: 0.625rem;
}

.nav-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.1rem;
  gap: 0.625rem;
  padding-top: 7.25rem;
}

.nav-soporte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.1rem;
  gap: 0.625rem;
  padding-top: 9.375rem;
}

.main-tiempos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-tiempos h1 {
  text-align: center;
  font-family: Comfortaa;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12.7rem 12.7rem;
  grid-template-columns: 12.7rem 12.7rem;
  -ms-grid-rows: 6.25rem 6.25rem;
  grid-template-rows: 6.25rem 6.25rem;
  justify-items: center;
}

.botones > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.botones > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.botones > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.botones > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.botones div {
  padding: 1.125rem 1.0625rem;
}
.botones div button {
  color: white;
  background-color: rgb(8, 47, 184);
  border: none;
  border-radius: 0.9375rem;
  width: 11.75rem;
  height: 5.3125rem;
  font-size: 1.875rem;
  font-family: Comfortaa;
}

.main-soporte {
  font-family: Comfortaa;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-soporte textarea {
  width: 35rem;
  border-radius: 0.3125rem;
  font-size: 0.955rem;
  height: 3.5rem;
}
.main-soporte p {
  font-size: 20px;
}

.main-modo {
  font-family: Comfortaa;
  font-size: 1.125rem;
  text-align: left;
  font-family: Comfortaa;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-modo h2 {
  font-family: Comfortaa;
  font-size: 1.4875rem;
  text-align: center;
}
.main-modo h1 {
  font-family: Comfortaa;
}
.main-modo p {
  width: 69.25rem;
  padding-left: 1.875rem;
}

.grid-tiempos {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-tiempos > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-tiempos > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-tiempos > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-tiempos > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid-torneos {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-torneos > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-torneos > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-torneos > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-torneos > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid-modo {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-modo > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-modo > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-modo > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-modo > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.main-torneos {
  font-family: Comfortaa;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-torneos h1 {
  text-align: center;
}

.grid-soporte {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-soporte > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-soporte > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-soporte > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-soporte > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid-registro {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 270px auto;
  grid-template-columns: 270px auto;
  -ms-grid-rows: 95px auto;
  grid-template-rows: 95px auto;
}

.grid-registro > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-registro > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-registro > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-registro > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.main-registro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: Comfortaa;
}

@media (max-width: 768px) {
  .clase-logo {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .barra-de-tareas {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding-bottom: 0.825rem;
  }
  .barra-de-tareas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .barra-de-tareas ul li {
    padding: 0 10px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}
    .barra-de-tareas ul li:hover{ 
transform: translateX(0);
}
  .grid-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-index > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-index > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-index > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .inicio-de-sesión {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
  .clase-nombre {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 0;
  }
  .logo-nombre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .grid-torneos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-torneos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-torneos > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-torneos > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-registro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-registro > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-registro > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-registro > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-modo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-modo > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-modo > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-modo > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-tiempos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-tiempos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-tiempos > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-tiempos > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-soporte {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 15% 75% 10%;
    grid-template-rows: 15% 75% 10%;
  }
  .grid-soporte > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-soporte > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-soporte > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-modo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
  .main-modo p {
    width: 100%;
    padding-right: 0.625rem;
  }
  .main-soporte {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
  .main-tiempos {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
  .main-torneos {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
  .main-registro {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: none;
  }
}