@mixin estilo-titulo {
    font-family: $font-family_1;
    font-size: 2.625rem;
    text-align: center;
}  

@mixin boton-comun {
    color: $color-letras-botones;
    background-color: $color-botones;
    border: none;
    border-radius: .9375rem;
    width: 11.75rem;
    height: 5.3125rem;
    font-size: 1.875rem;
    font-family: $font-family_1;
    transition: background-color 0.3s;
    &:hover {
    background-color: rgb(15, 42, 143);
    }
}
